/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: unset;
  color: #c46f00;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: 'Poppins', sans-serif;
}
img {
  max-width: 100%;
}
ul, ol {
  margin-left: 20px;
}
li {
  margin-bottom: 5px;
  font-size: 14px;
}
header .logo img {
  filter: invert(1);
  margin-right: 5px;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.d-block {
  display: block;
}
h1, h2, h3, h4 {
  font-weight: unset;
  margin-bottom: 10px;
}
.bajada h2 {
  font-size: 20px;
  max-width: 800px;
  margin-bottom: 40px;
}
/* estilos menu */
header {
  background-color: #222;
  border-bottom: solid 2px #c56f01;
  position: sticky;
  z-index: 1;
  top: 0;
}
header .logo {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
header li.nav-item {
  display: inline;
  padding: 5px;
}
header .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
}
header .nav-link.active {
  font-weight: 700;
}
header .nav-link:hover {
  text-decoration: underline;
}
/* breadcrumbs */
.breadcrumbs {
  padding: 10px 16px;
  background-color: #f2f2f2;
  margin-bottom: 70px;
}
.breadcrumbs ul {
  list-style: none;
}
.breadcrumbs ul li {
  display: inline;
  font-size: 13px;
  color: #828282;
}
.breadcrumbs ul li a {
  color: #828282;
}
/* estilos footer */
footer {
  border-top: solid 2px #c56f01;
  background-color: #222;
  padding: 70px 0;
  margin-top: 70px;
}
footer h3, footer p, footer i{
  color: #a4a4a4;
}
footer i {
  margin-left: 5px;
}
footer .left-content {
  max-width: 400px;
}


/* estilos HOME */
.container-home-only {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}
.main-banner {
  padding: 150px 0;
  margin-bottom: 70px;
  text-align: center;
  background-image: url('../img/mockapot.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}
.main-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6a3c00;
  opacity: .5;
  z-index: -1;
}
.main-banner h1 {
  font-size: 38px;
  color: #fff;
}

.menu-home .menu-item {
  border: solid 1px #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu-home .menu-item img {
  filter: invert(40%) sepia(91%) saturate(1850%) hue-rotate(18deg) brightness(94%) contrast(101%);
  margin-right: 5px;
}
.menu-home .menu-item p {
  font-size: 16px;
  text-decoration: unset;
  font-weight: 700;
}
/* estilos VARIEDADES */
.inter-banner {
  padding: 100px 0;
  text-align: left;
  background-image: url('../img/minimal-coffee.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}
.inter-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6a3c00;
  opacity: .5;
  z-index: -1;
}
.inter-banner h1 {
  font-size: 38px;
  color: #fff;
}
.inter-banner img {
  filter: invert(1);
  margin-right: 10px;
}
.white-box {
  border: 1px solid #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto 20px;
}
.white-box p {
  margin-bottom: 15px;
}
.white-box .top {
  display: flex;
  margin-bottom: 20px;
}
.white-box .top img {
  max-height: 280px;
  display: inline;
  margin-right: 15px;
  border-radius: 10px;
}
/* estilos TIPOS */
.tipos .row {
  flex-wrap: wrap;
}
.tipos .white-box {
  width: 17%;
  padding: 15px;
}
.tipos .white-box img {
  max-height: 280px;
  display: inline;
  border-radius: 10px;
}
.tipos .white-box p {
  font-size: 14px;
}
/* estilos PREPARARLO */
.video {
  max-width: 600px;
  margin: 0 20px;
}
/* estilos CONTACTO */
.form-content label {
  display: block;
}
.form-content input, .form-content textarea {
  width: 100%;
  min-height: 35px;
  margin-bottom: 15px;
}
.form-content textarea {
  height: 70px;
}
.adress h3, .adress h4 {
  margin-bottom: 0;
}
.adress div {
  margin-bottom: 15px;
}